.parent{margin-top: 5%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sign{
    border-radius:10px;
      width:400px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      background-color:white;
  }
  .lo{
    font-family: 'Poppins', sans-serif;
  }
  .login{
    margin-top:10px;
    
    padding-top:10px;
  }
  .fo{
    margin-top:1rem;
    padding-bottom:40px;
   
    align-items:center;
    justify-content: center;
  }
  .pass{
    padding-top:30px;
  }
  .but{
    padding-top:40px;
  }
  .but1{
    padding-top:10px;
    padding-bottom:30px;
  }
  .but2{
    width: 35%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #edbc40;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
  }
  #link-button
  {
    text-decoration: none;
    font-size: 20px;
  }
  #img
  {
    transition: all 0.6s;
    border-radius: 0;
    position: relative;
    background-size: cover !important;
    background-position: center !important;
    min-height: 680px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
  #log
  {
    display: flex;
    padding-left: 50px;
  }
  #a
  {
    padding: 11%;
    text-decoration: none;
    color: crimson;
    font-size:19px;
    text-shadow: 1px 1px rgb(246, 143, 143);
  }